%h1 Welcome to videodrome
%br

%ul
- @videos.each do |video|
  %h4
    = "#{video.id}. ‘#{video.title}’"
  %h5
    = "by #{video.artist}"
  %h5
    = "year: #{video.year}"
  = link_to 'Edit', "videos/#{video.id}/edit"
  = link_to 'Delete', "videos/#{video.id}"

