%h1 Welcome to videodrome

%h4= link_to "Create a new video", "/videos/new"

%ul
- @videos.each do |video|
  %h4
    = "#{video.id}. ‘#{video.title}’"
  %h5
    = "by #{video.artist}"
  %h5
    = "year: #{video.year}"
  %h4   
    = link_to "Update", "/videos/#{video.id}/edit"
    = link_to 'Destroy',  "/videos/#{video.id}" , method: :delete, data: { confirm: 'Are you sure?'}




